/* Обнуление */
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

:root{
    --main-font:"Montserrat", sans-serif;

    --gradient-background-color:linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
    --main-background-color:#ffffff;

    --main-dark-color:#1B1D1F;
    --light-color:#ffffff;
    --accent-color:#FF6B0A;
    --secondary-dark-color:#010101;
}
/* global styles */
body{
    font-family:var(--main-font);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--main-background-color);
    color: var(--main-dark-color);
}
.title{
    font-weight: 600;
    font-size: 48px;
    line-height: 2.08;
}
.sub-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 32px;
}
.container-first{
	max-width: 1360px;
	margin: 0px auto;
}
.wrapper {
    max-width: 1360px;
	overflow: hidden;
    margin: 0px auto;
	display: flex;
	flex-direction: column;
}
.hero{
    padding: 32px 0 0 90px;
    background:var(--gradient-background-color);
    margin-bottom: 52px;
}
.logo{
    width: 241px;
    display: inline-flex;
    margin-bottom: 56px;
}
.logo img{
    margin-right: 15px;
}
.logo p{
    font-weight: 500;
    font-size: 12px;
    line-height:1.25;
    display: flex;
    align-items: center;
    color: var(--secondary-dark-color);
}
.hero__row{
    display: flex;
}
.gus__img{
    margin-top: -120px;
}
.hero-left{
    width: 573px;
    height: 520px;
    padding: 60px 73px 60px 56px;
    background-color: var(--main-background-color);
    margin-right: 24px;
}
.good-evening {
    font-weight: 600;
    margin-bottom: 16px;
}
.start {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: var(--accent-color);
}
.hero-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.12;
    margin-bottom: 24px;
}
.hero-text {
    margin-bottom: 48px;
}
.button {
    background:var(--accent-color);
    border-radius: 8px;
    padding:12px 24px;
    color: var(--light-color);
}
.facts{
    max-width: 875px;
    margin: 0px auto;
}
.about-description{
    text-align: center;
}
.about-decoration img{
    margin-bottom: 16px;
}
.about-decoration h2{
    margin-bottom: 16px;
}
.systems__body{
    text-align: center;
    margin-bottom: 48px;
}
.systems-cont{
    width: 1360px;
    margin: 0px auto;
}
.list{
    display: flex;
    justify-content: space-between;
}
.list-item{
    max-width: 374px;
}
/* footer */
.footer{
    padding-bottom: 72px;
}
.footer-container{
    max-width: 1170px;
    text-align: center;
    padding: 72px 148px;
    background:var(--gradient-background-color);
    margin: 0px auto;
}

/* modal 1 */
.modal {
    background: rgb(98, 99, 99);
    text-align: center;
    padding: 122px 393px;
    margin: 0 auto;  
}
.modal-container {
    display: flex;
    width:573px;  
}
.modal__gerb{
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.modal-text{
    margin-bottom: 24px;
}
.modal-content {
    text-align: center;
    background: var(--main-background-color);
    color: #000;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}   
.text-field {
    display: block;
    text-align: left;
    margin-bottom: 16px; 
}
.field{
    margin-bottom: 40px;
}
.close{
    margin-right: 24px;
    margin-top: 24px;  
}
.input {
    font-size: 30px;
    width: 374px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
}



